Binaries
Build
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore third-party Content
Content/AnimStarterPack
Content/Collections
Content/Developers
Content/LearningKit_Games
Content/MilitaryWeapSilver
Content/__ExternalActors__
Content/__ExternalObjects__

# Ignore HoloLens
Platforms/HoloLens
