Binaries
Build
DerivedDataCache
Intermediate
Saved
Screenshots
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore third-party Content
Content/AnimStarterPack
Content/Characters
Content/Collections
Content/Developers
Content/DungeonRemastered
Content/FPS_Weapon_Bundle
Content/LearningKit_Games
Content/LevelPrototyping
Content/MarketplaceBlockout
Content/MilitaryWeapSilver
Content/ParagonDekker
Content/StylizedWinterCity
Content/ThirdPerson
Content/__ExternalActors__
Content/__ExternalObjects__
Content/sA_PickupSet_1

# Ignore Mixamo animations
Content/BlasterGame/Mixamo/Animations
Content/BlasterGame/Mixamo/SK_*
Content/BlasterGame/Mixamo/SKM_*

# Ignore ZapSplat sounds
Content/BlasterGame/Sounds/RespawnBot/RespawnBot.uasset

# Ignore HoloLens
Platforms/HoloLens

# Ignore cryptography settings
Config/DefaultCrypto.ini
